<launch>
  <arg name="topic_description" default="aqua/6flipper_wlegstate_topics.yml"/>
  <arg name="experience_rate" default="200"/>
  <arg name="slop" default="0.1"/>

  <!-- bridge observations and actions streams for RL with ROS topics-->
  <include file="$(find robot_learning)/launch/topics2vec.launch">
    <arg name="topic_description" value="$(arg topic_description)"/>
    <arg name="experience_rate" value="$(arg experience_rate)"/>
    <arg name="slop" value="$(arg slop)"/>
  </include>

  <!--bridge signals for resetting and stopping the robot-->
  <node pkg="robot_learning" type="signal_bridge_node.py" name="signal_bridge_node" output="screen">
  </node>

</launch>
